<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset>
        <legend>GET</legend>
        <form action="/newGet" method="GET">
            Name :
            <input value="" type="text" name="name" id="">
            <br><br>
            Age : 
            <input value="" type="text" name="age" id="">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
    <fieldset>
        <legend>POST</legend>
        <form action="/newPost" method="POST">
            Name :
            <input value="" type="text" name="name" id="">
            <br><br>
            Age : 
            <input value="" type="text" name="age" id="">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </fieldset>

</body>
</html>