<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- <form action="/getkaPath" method="GET">
        
        <input type="text" name="Apna" id="">
        <input type="password" name="Pass" id="">
        <button type="submit">Send Kardo</button>

    </form> -->
    <form action="/postkaPath" method="POST">
        
        <input type="text" name="Apna" id="">
        <input type="password" name="Pass" id="">
        <button type="submit">Send Kardo</button>

    </form>
</body>
</html>