<%- include("partials/header.ejs") %>
    <form action="/getkaMethod" method="GET">
        Name :
        <input value="" type="text" name="name" id="">
        <hr><hr>
        Age: 
        <input value="" type="text" name="age" id="">
        <hr><hr>
        <button type="submit">Submit</button>
    </form>
</body>
</html>